//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar text
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.navbar-texts

  p.navbar-text
    a.navbar-link(href="#")
      i.fa.fa-tags(aria-hidden="true")
      | Tags

  // p.navbar-text
    // a.navbar-link(href="#")
      // i.fa.fa-upload(aria-hidden="true")
      // | Upload

  p.navbar-text.navbar-right.signup
    a.navbar-link(href="#") Sign Up

  p.navbar-text.navbar-right
    a.navbar-link(href="#") Log In

  // p.navbar-text.navbar-right
    // a.navbar-link(href="#") Log Out
