//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Tag List in View
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ul.list-inline.taglist-view
  li
    a(href="#") HTML
  li
    a(href="#") CSS
  li
    a(href="#") JavaScript
  li
    a(href="#") PHP
  li
    a(href="#") Ruby
  li
    a(href="#") Webサービス
  li
    a(href="#") ジーズアカデミー
