//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Tag List in Tags
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ul.list-inline.taglist-tags
  li
    a(href="#") HTML
  li
    a(href="#") CSS
  li
    a(href="#") JavaScript
  li
    a(href="#") PHP
  li
    a(href="#") Ruby
  li
    a(href="#") Webサービス
  li
    a(href="#") ジーズアカデミー
  li
    a(href="#") HTML5
  li
    a(href="#") SCSS
  li
    a(href="#") React.js
  li
    a(href="#") Cake PHP
  li
    a(href="#") Ruby on Rails
