.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1

  include ./_title-view

  include ./_state-view

  .btn-group(role="group")
    button.btn(type="button")
      i.fa.fa-star(aria-hidden="true")
      | Like
    button.btn(type="button")
      i.fa.fa-share(aria-hidden="true")
      | Share

  include ./_taglist-view
