//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar form
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.navbar-form {
  margin: 2rem 0;
  padding: 0;
  border: none;

  .form-group {
    display: flex;
  }

  .form-control {
    height: 3.6rem;
    font-size: 1.4rem;
    line-height: 1em;
    color: $sub_font_color;
    border-top: 1px solid $sub_bg_color;
    border-right: none;
    border-bottom: 1px solid $sub_bg_color;
    border-left: 1px solid $sub_bg_color;
    border-top-left-radius: 3.6rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3.6rem;
    border-bottom-right-radius: 0;
    box-shadow: none;
    background-color: white;

    &::-webkit-input-placeholder {
      color: $accent_font_color;
      padding: .7rem 0;
    }
    &:-ms-input-placeholder {
      color: $accent_font_color;
      padding: .7rem 0;
    }
    &::-moz-placeholder {
      color: $accent_font_color;
      padding: .7rem 0;
    }
  }

  .btn {
    height: 3.6rem;
    font-size: 1.4rem;
    color: $sub_font_color;
    padding: .6rem 1.4rem;
    border-top: 1px solid $sub_bg_color;
    border-right: 1px solid $sub_bg_color;
    border-bottom: 1px solid $sub_bg_color;
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 3.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3.6rem;
    background-color: white;
  }
}

@media (min-width: $sm) {
  .navbar-form {
    margin: 0;
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: center;

    .form-group {
      width: 100%;
      max-width: 500px;
      margin: 0;
      padding: 0 1.5rem;
    }

    .form-control {
      height: 2.5rem;
      font-size: 1.2rem;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
      width: 100%;

      &::-webkit-input-placeholder {
        color: $accent_font_color;
        padding: .6rem 0;
      }
      &:-ms-input-placeholder {
        color: $accent_font_color;
        padding: .6rem 0;
      }
      &::-moz-placeholder {
        color: $accent_font_color;
        padding: .6rem 0;
      }
    }

    .btn {
      height: 2.5rem;
      font-size: 1.2rem;
      padding: .3rem 1rem;
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    }
  }
}
