//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar header
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.navbar-header {
  position: relative;

  h1 {
    margin: 0;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a.navbar-brand {
      padding: 0;
      height: auto;

      img {
        max-width: 9.5rem;
      }
    }
  }

  .navbar-toggle {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }
}

@media (min-width: $sm) {
  .navbar-header {
    height: 6rem;

    h1 {
      background: $key_color;
      padding: 1.8rem 2rem 1.8rem 0;
      display: inline-block;

      a {
        margin-left: 0!important;
        display: block;

        img {
          &:hover,
          &:focus {
            opacity: .7;
          }
        }
      }
    }
  }
}
