//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar collapse
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.navbar-collapse {
  max-height: none!important;
  background: white;
}

.navbar-text {
  font-size: 2rem;
  margin: 0 0 1em;
  height: auto;
  line-height: 1em;
  border-top: 1px solid $sub_bg_color;
  padding: 1em 0 0;

  a {
    display: block;
    color: $accent_font_color;
  }
}

.navbar-right {

  a {
    color: $base_font_color;
  }

  &.signup {
    a {
      color: $key_color;
    }
  }
}

@media (min-width: $sm) {
}
