//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar toggle
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.navbar-toggle {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: .8rem .4rem;

  .icon-bar {
    background: $base_font_color;
  }
}
