//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Title
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.title {
  padding: 2rem;

  h1 {
    font-size: $heading_font_size;
    line-height: 1em;
    margin: 0 0 1rem;

    a {
      font-size: inherit;
      color: inherit;
      @include ellipsis;
    }
  }

  small {
    font-style: italic;
    @include ellipsis;
  }
}

.title-panel {
  @extend .title;

  small {
    color: $accent_font_color;
  }
}

.title-view {
  @extend .title;
}
