//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
nav.navbar.navbar-fixed-top

  .container
  
    .row
    
      include ../component/_navbar_haeder.jade
      
      include ../component/_navbar_collapse.jade
    
