//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Panel
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.col-xs-12.col-sm-6.col-md-4.col-lg-3

  .panel
  
    .panel-body
    
      a.thumbnail(href="#")
        img.img-responsive(src="https://i.ytimg.com/vi/Snh9uJUhSEk/mqdefault.jpg")
      
      include ../component/_title-panel

      include ../component/_label

      include ../component/_state-panel

    .panel-footer

      include ../component/_taglist-panel
