//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Related LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid.panels

  .container

    include ../component/_pageheader

      h2.heading 関連するライトニングトーク

    .row

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel
