//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Latest LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid.panels
  
  .container
    
    include ../component/_pageheader
    
      h2.heading 最新のライトニングトーク

    .row

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel
