//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Video
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid
  
  .row
  
    .container-fluid
      
      .row

        .container

          .row

            .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1

              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="//www.youtube.com/embed/Snh9uJUhSEk", frameborder="0", allowfullscreen)

          .row
            
            include ../component/_viewdetail
