//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Footer
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid.footer

  .container
  
    .row

      address.text-center
        span.text-hide LTShare
        | Created by
        strong Ryo Isomura
        a(href="#", aria-label="mail")
          i.fa.fa-envelope(aria-hidden="true")
        a(href="#", aria-label="Twitter")
          i.fa.fa-twitter(aria-hidden="true")
        a(href="#", aria-label="Facebook")
          i.fa.fa-facebook(aria-hidden="true")
        a(href="#", aria-label="GitHub")
          i.fa.fa-github(aria-hidden="true")
        br
        small ©2015 LTShare
