//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Latest LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid

  .container

    include ./_pageheader

      h2 最新のライトニングトーク

    .row

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel
