//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar toggle
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#globalmenu")
  span.sr-only Toggle navigation
  span.icon-bar
  span.icon-bar
  span.icon-bar
