//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar Header
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.navbar-header

  include ./_navbar_toggle.jade
  
  h1
    a.text-hide.navbar-brand(href="/") LTShare
      img.img-responsive(src="/img/logo_l.png")
