//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar form
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
form.navbar-form(role="search")

  .form-group
  
    input.form-control(type="text", placeholder="ライトニングトークを検索")

    button.btn(type="submit")
      span.sr-only 検索
      i.fa.fa-search(aria-hidden="true")
