//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Navbar
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
nav.navbar.navbar-fixed-top

  .container
    
    include ./_navbar_haeder.jade
    
    include ./_navbar_collapse.jade
    
