//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Popular LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid
  
  .row

    .container
    
      include ./_pageheader

        h2.heading 人気のライトニングトーク

      .row

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel
