//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Related LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid
  
  .row
  
    .container

      include ./_pageheader

        h2.heading 関連するライトニングトーク

      .row

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel
