//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Panel
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.col-xs-12.col-sm-6.col-md-4.col-lg-3
  .panel
    .panel-body
      .thumbnail
        img(src="//i.ytimg.com/vi/Snh9uJUhSEk/mqdefault.jpg")

      h1 photoruction
        span.label.pull-right
          i.fa.fa-plus(aria-hidden="true")
          | スライド

      small Global GEEK Audition

      ul.list-inline
        li
          i.fa.fa-eye(aria-hidden="true")
          | 10 VIEWS
        li
          i.fa.fa-star(aria-hidden="true")
          | 10 LIKES

    .panel-footer
      ul.list-inline
        li HTML
        li CSS
        li JavaScript
        li PHP
        li Ruby
        li Webサービス
        li ジーズアカデミー
