//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Latest LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid
  
  .row
  
    .container
      

      include ./_pageheader

        h2.heading 最新のライトニングトーク

      .row

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel

        include ./_panel
