//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Popular LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid

  .container

    // Page Header
    .page-header
      h2 人気のライトニングトーク

    .row

      include ./_panel
      
      include ./_panel
      
      include ./_panel
      
      include ./_panel
