//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Related LT
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid

  .container

    include ./_pageheader

      h2 関連するライトニングトーク

    .row

      include ./_panel

      include ./_panel

      include ./_panel

      include ./_panel
