//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Slide
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid
  
  .row
  
    .container-fluid
    
      .row

        .container

          .row

            .col-xs-12.col-sm-12.col-md-6.col-lg-6

              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="//www.youtube.com/embed/Snh9uJUhSEk", frameborder="0", allowfullscreen)

            .col-xs-12.col-sm-12.col-md-6.col-lg-6

              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="//www.slideshare.net/slideshow/embed_code/key/IptYc6f60IG3wn", frameborder="0", allowfullscreen)

          .row
            
            include ./_viewdetail
