//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// State
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ul.list-inline
  li
    i.fa.fa-eye(aria-hidden="true")
    | 10 VIEWS
  li
    i.fa.fa-star(aria-hidden="true")
    | 10 LIKES