//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// State in Panel
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
ul.list-inline.state-view
  li
    i.fa.fa-eye(aria-hidden="true")
    strong 10
    | VIEWS
  li
    i.fa.fa-star(aria-hidden="true")
    strong 10
    | LIKES
