//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Tags
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.container-fluid

  .container

    h2
      i.fa.fa-tags(aria-hidden="true")
      | tags

    ul.list-inline
      li HTML
      li CSS
      li JavaScript
      li PHP
      li Ruby
      li Webサービス
      li ジーズアカデミー
      li HTML
      li CSS
      li JavaScript
      li PHP
      li Ruby
      li Webサービス
      li ジーズアカデミー
      li HTML
      li CSS
      li JavaScript
      li PHP
      li Ruby
      li Webサービス
      li ジーズアカデミー
      li HTML
      li CSS
      li JavaScript
      li PHP
      li Ruby
      li Webサービス
      li ジーズアカデミー
