extends ./foundation/_layout

block title

  title LTShare

block content

  include ./object/project/_panels-popular

  include ./object/project/_panels-latest

  include ./object/component/_pagenation
