extends ./foundation/_layout

block title

  title View Video and Slide | LTShare

block content

  include ./object/project/_slide
  
  include ./object/project/_panels-related
  
  include ./object/component/_pagenation
