extends ./foundation/_layout

block title

  title View Video | LTShare

block content

  include ./object/project/_video
  
  include ./object/project/_panels-related
  
  include ./object/component/_pagenation
