//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Panel
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.panel {
  @include shadow-m(out);
  border: none;
  background: white;
  margin-bottom: 3rem;

  &-body {
    padding: 0;
    position: relative;
  }

  .thumbnail {
    border: none;
    padding: 0;
    margin: 0;
  }

  .label {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-footer {
    padding: 2rem;
    background: white;
    border: none;
    border-radius: 0;
  }
}
