//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Tags
//- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.tags {
  background: $sub_bg_color;
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    margin-bottom: 2rem;
  }
}
